<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Properties>
		<Property name="layoutPattern">%5p:%d{yyyy-MM-dd HH:mm:ss} %c:%L %M :%m%n</Property>
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
<!-- 		설정한 level 이상의 로그만 보여주는 필터 ex)levl="info", info / warn / error / fatal을 보여준다 -->
			<ThresholdFilter level="debug"/>
			<PatternLayout pattern="${layoutPattern}" />
		</Console>
		
	</Appenders>
	
	<loggers>
    	<logger name="org.springframework" level="error" additivity="false"/>
    	
		<Root level="debug">
		<AppenderRef ref="console"/>
		</Root>
	</loggers>
</Configuration>