<div id="es-div-guide" class="es-div-guide" oncontextmenu="return false" onselectstart="return false">
<img id="guide-img-close" class="guide-img-close" />
	<div id="guide-lbl-title" class="es-lbl-title"></div>
	<p id="join-step-1" class="layer1_p1"></p>
	<img id="img-next1" class="img-next">
	<p id="join-step-2" class="layer1_p1"></p>
	<img id="img-next2" class="img-next">
	<p id="join-step-3" class="layer1_p1"></p>
	<img id="img-next3" class="img-next">
	<p id="join-step-4" class="layer1_p1"></p>
	<p id="save-cert-notice" class="layer1_p2"></p>
	<h6 id="save-sert-subject"></h6>
	<ol>
		<li><div id="save-cert-step-1"></div></li>
	</ol>
</div>